@value makerOrange from '../../../../common/colors.css';

.preview {
  flex-basis: 50%;
  background-color: pink;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  width: 100%;
  text-align: center;
  margin-bottom: 0.5em;
  color: makerOrange;
}
